* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .page {
    display: flex;
    height: 90%;
    width: 90%;
    border: 2px solid #282c34;
    
    .navWrapper {
      display: flex;
      height: 100%;
      width: 20%;
      background-color: #282c34;
    }

    .rightWrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .appHeader {
        height: 10%;
        width: 100%;
        background-color: #282c34;
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
      }
      
      .bookListWrapper {
        display: flex;
        height: 90%;
        width: 100%;
      }
    }
}
}




