.book {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    border: 2px solid black;
    height: 200px;
    width: 30%;

    .textWrap {
        display: flex;
        flex-direction: column;
        height: 65px;
        width: 100%;
        font-size: 12px;
        text-align: center;
    }
    
    .image {
        height: 100%;
        width: 100%;
        overflow: hidden;
    } 
}

